body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:black;
}


.iframe-container {
    height:100%; 
    width: 100%;
    overflow:hidden; 
    position:relative;
    margin: 0;
}